<h1 class="text-xl font-bold">Welcome to Flight Booker</h1>
<p class="text-xs italic">Your source of safe aeroplane journeys</p>

<p><%= @greeting + ' ' + @booking_owner.name %>, Thanks for signing up and making your first booking.</p>

<p>Your booking takes off, on an aeroplane with all of its bolts, from <%= @booking.flight.departure_airport.name %> on the
  <%= @booking.flight.departure_time.strftime('%a %dth %b %Y, %R%P') %> to <%= @booking.flight.arrival_airport.name %>, with thse passengers:</p>
  <ul>
    <% @passengers.each do |p| %>
      <li><%= p.name %></li>
    <% end %>
  </ul>

<p>For your reference, your booking number is: <%= @booking.id %></p>

<p>Thanks for choosing to fly with us. We hope you have a great journey.</p>

<p>Safe travels!</p>

<p class="italic">View your booking and make any changes by logging into your account <%= link_to 'here', @url %>.</p>