
<%= form_with(url: flights_path, method: :get, class: "max-w-lg min-w-80 mt-4 mb-4") do |form| %>
  <fieldset>
    <legend class="text-lg font-bold underline text-center">Search Flights</legend>
    <div data-controller="flight-search-form">
      <div class="m-2 grid grid-cols-2 items-center" >
        <%= form.label :departure_country, 'Select Departure Country', class: "col-start-1 col-end-2" %>
        <%= form.select :departure_country, @countries, { selected: params[:departure_country], prompt: 'Select Departure Country' },
          { required: true, data: { flight_search_form_target: "departure_country",
          action: "change->flight-search-form#updateAirports" },
          class: "col-start-2 col-end-3 rounded" } %>
      </div>    

      <div class="m-2 grid">
        <%= turbo_frame_tag "departure_airport", class: "grid grid-cols-2 items-center" do %>
          <%= render 'flights/departure_airport_options', departure_airports: @departure_airports %>
        <% end %>
      </div>
        
      <div class="m-2 grid grid-cols-2 items-center">
        <%= form.label :arrival_country, 'Select Arrival Country', class: "col-start-1 col-end-2" %>
        <%= form.select :arrival_country, @countries, { selected: params[:arrival_country], prompt: 'Select Arrival Country' },
          { required: true, data: { flight_search_form_target: "arrival_country",
          action: "change->flight-search-form#updateAirports" },
          class: "col-start-2 col-end-3 rounded" } %>
      </div>   

      <div class="m-2 grid">
        <%= turbo_frame_tag "arrival_airport", class: "grid grid-cols-2 items-center" do %>
          <%= render 'flights/arrival_airport_options', arrival_airports: @arrival_airports %>
        <% end %>
      </div>

      <div class="m-2 flex items-center justify-between">
        <%= turbo_frame_tag "departure_dates", class: "" do %>
          <%= render 'flights/departure_dates', departure_dates: @departure_dates %>
        <% end %>
        <div class="flex items-center justify-end">
          <%= form.label :no_of_passengers, 'No of Passengers', class: "" %>
          <%= form.number_field :no_of_passengers, value: 1, min: 1, max: 10, required: true, class: "max-w-16 ml-2 rounded" %>
        </div>
      </div>
    </div>
    <div class="flex justify-center ">
      <%= form.submit 'Search Flights', class: "m-2 h-10 w-32 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>

  </fieldset>
<% end %>