
<%= form_with(url: flights_path, method: :get, class: "flex flex-col p-2") do |form| %>
  <fieldset>
    <legend class="text-lg font-bold underline">Search Flights</legend>
    <div data-controller="country-select">
      <div class="m-2">
        <%= form.label :departure_country, 'Select Departure Country' %>
        <%= form.select :departure_country, @countries, { prompt: 'Select Departure Country' }, { required: true, data: { country_select_target: "departure" } } %>
      </div>    

      <div class="m-2">
        <div class="flex flex-col">
          <%= turbo_frame_tag "departure_airport" do %>
            <%= render 'flights/departure_airport_options', departure_airports: @departure_airports %>
          <% end %>
        </div>
      </div>
        
      <div class="m-2">
        <%= form.label :arrival_country, 'Select Arrival Country' %>
        <%= form.select :arrival_country, @countries, { prompt: 'Select Arrival Country' }, { required: true, data: { country_select_target: "arrival" } } %>
      </div>   

      <div class="m-2">
        <div class="flex flex-col">
          <%= turbo_frame_tag "arrival_airport" do %>
            <%= render 'flights/arrival_airport_options', arrival_airports: @arrival_airports %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="m-2 flex flex-row">
      <%= form.label :departure_date, 'Departure Date' %>
      <%= form.date_select :departure_date, required: true %>
    </div>
    <div class="flex justify-center m-2 h-10 w-32 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <%= form.submit 'Search Flights' %>
    </div>
  </fieldset>
<% end %>
  

