
<%= form_with(url: flights_path, method: :get, class: "bg-cyan-50/50 rounded w-auto md:w-[570px] py-5 px-4") do |form| %>
  <fieldset>
    <legend class="text-5xl font-display text-green-800 text-center mb-3"> ✈️ Search Flights</legend>
    <div data-controller="flight-search-form" class="my-4">
      <div class="m-3 grid grid-cols-2 items-center" >
        <%= form.label :departure_country, 'Select Departure Country', class: "font-label font-medium col-start-1 col-end-2" %>
        <%= form.select :departure_country, @countries, { selected: params[:departure_country], prompt: 'Select Departure Country' },
          { required: true, data: { flight_search_form_target: "departure_country",
          action: "change->flight-search-form#updateAirports" },
          class: "font-label font-medium col-start-2 col-end-3 rounded bg-slate-100" } %>
      </div>    

      <div class="m-3 grid">
        <%= turbo_frame_tag "departure_airport", class: "grid grid-cols-2 items-center" do %>
          <%= render 'flights/departure_airport_options', departure_airports: @departure_airports %>
        <% end %>
      </div>
        
      <div class="m-3 grid grid-cols-2 items-center">
        <%= form.label :arrival_country, 'Select Arrival Country', class: "font-label col-start-1 col-end-2" %>
        <%= form.select :arrival_country, @countries, { selected: params[:arrival_country], prompt: 'Select Arrival Country' },
          { required: true, data: { flight_search_form_target: "arrival_country",
          action: "change->flight-search-form#updateAirports" },
          class: "font-label font-medium col-start-2 col-end-3 rounded bg-slate-100" } %>
      </div>   

      <div class="m-3 grid">
        <%= turbo_frame_tag "arrival_airport", class: "grid grid-cols-2 items-center" do %>
          <%= render 'flights/arrival_airport_options', arrival_airports: @arrival_airports %>
        <% end %>
      </div>

      <div class="m-3 flex items-center justify-between">
        <%= turbo_frame_tag "departure_dates", class: "" do %>
          <%= render 'flights/departure_dates', departure_dates: @departure_dates %>
        <% end %>
        <div class="flex items-center justify-end">
          <%= form.label :no_of_passengers, 'No of Passengers', class: "font-label font-medium" %>
          <%= form.number_field :no_of_passengers, value: params[:no_of_passengers] || 1, min: 1, max: 5, required: true, class: "font-label font-medium max-w-16 ml-2 rounded bg-slate-100" %>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <%= form.submit 'Search Flights', class: "font-label font-medium m-3 btn btn-primary" %>
    </div>

  </fieldset>
<% end %>