<div id="passwordModal" class="modal" tabindex="-1" role="dialog" data-controller="modal">
  <dialog class="modal">
    <div class="modal-box">
      <div class="modal-header">
        <h3 class="font-bold text-lg">Please set your password booking_owner; <%= @booking_owner.name %></h3>
      </div>
      <div class="modal-body">
        <%= form_for booking.booking_owner, url: update_booking_owner_password_booking_path(booking), method: :patch, data: { turbo_frame: "passwordModal" }, html: { class: "grid grid-cols-2 grid-rows-3 gap-2 items-center justify-items-start" } do |f| %>
          <%= f.label :password, class: "col-start-1 col-span-1 row-start-1 row-span-1" %>
          <%= f.password_field :password, required: true,
            pattern: '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}$', title: "Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character",
            class: 'col-start-2 col-span-1 row-start-1 row-span-1' %>
          <%= f.label :password_confirmation, class: "col-start-1 col-span-1 row-start-2 row-span-1" %>
          <%= f.password_field :password_confirmation, required: true, class: "col-start-2 col-span-1 row-start-2 row-span-1" %>
          <%= f.submit "Set Password", class: 'btn btn-primary col-start-1 col-span-1 row-start-3 row-span-1' %>
          <% if @booking_owner.errors.any? %>
            <% @booking_owner.errors.full_messages.each do |message| %>
              <p class="col-start-2 col-span-1 row-start-3 row-span-1"><%= message %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </dialog>
</div>