<div id="passwordModal" class="modal" tabindex="-1" role="dialog" data-controller="modal">
  <dialog class="modal">
    <div class="modal-box">
      <div class="modal-header">
        <h3 class="font-bold text-lg mb-2"><%= @booking_owner.name.capitalize %>, please set your password:</h3>
      </div>
      <div class="modal-body">
        <%= form_for booking.booking_owner, url: update_booking_owner_password_booking_path(booking), method: :patch, data: { turbo_frame: "passwordModal" }, html: { class: "grid grid-cols-2 grid-rows-3 gap-2 items-center justify-items-start" } do |f| %>
          <div class="col-start-1 col-span-1 row-start-1 row-span-1">
            <div class="flex flex-col">
              <%= f.label :password, class: "" %>
              <div class="flex flex-row mt-1">
                <%= label_tag "show_password", "Show Password", class: "italic text-xs mr-2" %>
                <%= check_box_tag nil, "1", false, id: "show_password", data: { action: "click->modal#showPassword" } %>
              </div>
            </div>
          </div>
          <%= f.password_field :password, autofocus: true, required: true,
            pattern: '^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}$', title: "Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character",
            class: 'col-start-2 col-span-1 row-start-1 row-span-1', data: { modal_target: "password" } %>
          <%= f.label :password_confirmation, class: "col-start-1 col-span-1 row-start-2 row-span-1" %>
          <%= f.password_field :password_confirmation, required: true, class: "col-start-2 col-span-1 row-start-2 row-span-1" %>
          <%= f.submit "Set Password", class: 'btn btn-primary col-start-1 col-span-1 row-start-3 row-span-1' %>
          <% if @booking_owner.errors.any? %>
            <% @booking_owner.errors.full_messages.each do |message| %>
              <p class="col-start-2 col-span-1 row-start-3 row-span-1 text-xs italic"><%= message %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </dialog>
</div>