<div id="passwordModal" class="modal" tabindex="-1" role="dialog" data-controller="modal">
  <dialog class="modal">
    <div class="modal-box">
      <div class="modal-header">
        <h3 class="font-bold text-lg">Please set your password booking_owner; <%= @booking_owner.name %></h3>
      </div>
      <div class="modal-body">
        <%= form_for booking.booking_owner, url: update_booking_owner_password_booking_path(booking), method: :patch, data: { turbo_frame: "passwordModal" } do |f| %>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, required: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, required: true, class: 'form-control' %>
          </div>
          <%#= f.hidden_field "booking_id", value: booking.id %>
          <%= f.submit "Set Password", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </dialog>
</div>