<table class="table-auto border-separate border-2 border-black rounded-md">
  <caption class="text-xl font-bold underline">You created this Booking </caption>
  <thead class="bg-slate-200">
    <tr>
      <th class="border border-slate-300 py-2 pr-4">Booking ID</th>
      <th class="border border-slate-300 py-2 pr-4">No of passengers</th>
      <th class="border border-slate-300 py-2 pr-4">First passenger name</th>
      <th class="border border-slate-300 py-2 pr-4">Flight No</th>
      <th class="border border-slate-300 py-2 pr-4">Flight departure date</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover:bg-gray-50">
      <td class="border border-slate-300 pl-2 pr-6 py-2"><%= @booking.id %></td>
      <td class="border border-slate-300 pl-2 pr-6 py-2"><%= @booking.passengers.count %></td>
      <td class="border border-slate-300 pl-2 pr-6 py-2"><%= @booking.passengers.first.name %></td>
      <td class="border border-slate-300 pl-2 pr-6 py-2"><%= @booking.flight_id %></td>
      <td class="border border-slate-300 pl-2 pr-6 py-2"><%= @booking.flight.departure_time %></td>
    </tr>
  </tbody>
</table>