<table>
  <caption class="text-2xl font-bold underline decoration-double">
    All airports
  </caption>
  <thead>
    <% @airports.column_names.each do |column_name| %>
      <% unless column_name == 'created_at' || column_name == 'updated_at' %>
        <th class="px-2 <%= 'sorted' if params[:column] == column_name %>">
          <%= link_to airports_path(column: column_name, direction: sort_direction == 'asc' ? 'desc' : 'asc') do %>
          <div class="inline-block">
            <span class="title"><%= column_name.capitalize.sub('_', ' ') %></span>
            <span class=" arrow <%= params[:direction] == 'asc' ? 'desc' : 'asc' %>">⬆</span>
          </div>
          <% end %>
        </th>
      <% end %>
    <% end %>
  </thead>
  <tbody>
    <% @airports.each do |airport| %>
    <tr>
      <td class="p-2"><%= airport.id %></td>
      <td class="p-2"><%= airport.name %></td>
      <td class="p-2"><%= airport.code %></td>
      <td class="p-2"><%= airport.country_id %></td>
      <!-- <td class="p-2"><%= airport.created_at %></td>
      <td class="p-2"><%= airport.updated_at %></td> -->
      <td class="p-2"><%= airport.country %></td>
      <td class="p-2"><%= airport.city %></td>
    </tr>
    <% end %>
  </tbody>
</table>