<div class="navbar h-24 top-0 bg-base-100/40 pl-12 pr-36">
  <div class="flex-1">
    <div class="focus:ring-4 focus:ring-blue-300 focus:outline-none hover:cursor-pointer">
      <%= image_tag 'default-logo.svg', size: "", class: "hover:cursor-pointer md:min-w-[350px] md:min-h-[80px] min-w-[250px] min-h-[60px] max-w-[350px] max-h-[80px] -ml-12 object-cover"%>
    </div>
  
    <div class="flex-none">
      <% unless flash.empty? %>
        <%= render '/layouts/flash' %>
      <% end %>  
    </div>

    <div>
      <%= "**** Here are your params #{params}" %>
    </div>
  </div>


  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if passenger_signed_in? %>
        <% if current_passenger.owned_bookings.present? %>
          <li> <%= link_to "Owned bookings", bookings_path %></li>
        <% end %>
        <li><%= link_to "Edit Profile", edit_passenger_registration_path, class: "" %></li>
        <li><%= button_to "Logout", destroy_passenger_session_path, method: :delete, class: "" %></li>
      <% else %>
        <li><%= link_to "Login", new_passenger_session_path, class: "" %></li>
        <li><%= link_to "Sign up", new_passenger_registration_path, class: "" %></li>
      <% end %>
    </ul>
  </div>
</div>
