<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
    <div class="bg-image">
      <nav>
        <div class="absolute home-link text-4xl text-center align-baseline mt-4 ml-4 pt-1 h-12 w-32 text-white bg-gray-200/60 hover:bg-gray-400/60
          focus:ring-4 focus:ring-blue-300 rounded-lg dark:bg-blue-600
          dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 hover:cursor-pointer">
          <%= link_to "âœˆï¸ ðŸ‘€", root_path %>
        </div>
        <div class='flash'>
          <p class='alert'><%= alert %></p>
          <p class='notice'><%= notice %></p>
        </div>
        <div class="user-links">

        </div>
      </nav>
      <main class="container items-center mx-auto mt-28 px-5 flex flex-col">
        <div class="block">
          <%#= debug params %>
        </div>
        <div class="flex flex-col items-center">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
