<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="">
    <div class="bg-image">
      <nav class="flex flex-row items-center mt-4 ml-4">
        <div class="home-link text-4xl text-center align-baseline pt-1 mr-2 h-12 w-32 text-white bg-gray-200/60 hover:bg-gray-400/60
          focus:ring-4 focus:ring-blue-300 rounded-lg dark:bg-blue-600
          dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 hover:cursor-pointer">
          <%= link_to "âœˆï¸ ðŸ‘€", root_path %>
        </div>
        <div class='passenger-nav-links flex flex-row'>
          <% if passenger_signed_in? %>
            <%= link_to "Edit Profile", edit_passenger_registration_path, class: "px-2" %>
            <%= button_to "Logout", destroy_passenger_session_path, method: :delete, class: "btn-sm px-2" %>
          <% else %>
            <%= link_to "Login", new_passenger_session_path, class: "px-2" %>
            <%= link_to "Sign up", new_passenger_registration_path, class: "px-2" %>
          <% end %>
          <% unless flash.empty? %>
            <%= render '/layouts/flash' %>
          <% end %>  
        </div>      
      </nav>
 
      <main class="container items-center mx-auto mt-28 px-5 flex flex-col">
        <div class="flex flex-col items-center">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
